#Ignore these for security or because they're histories.

.bash_history
#.bash_profile
#.bashrc
.davmail.properties
.ganttproject
#.gemrc
#.git_status_in_prompt.sh
#.gitconfig
.gitconfig.local
#.gitignore
#.gitk
.guard_history
.hcl_config
.hcl_tasks
.irb-history
.irb_history
#.irbrc
.lesshst
#.monk
.netrc
.php_history
#.powconfig
#.profile
.pry_history
#.pryrb
.psql_history
.rdebug_hist
.rnd
.swfinfo
.vinevncauth
#.zlogin
#.zshrc
